/*** PAGE LAYOUT ***/

html { font-size: 16px; }

body {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    height: 100vh;
    margin: 0;

    background: #F0F0F0;
    font-family: DejaVu Sans, Verdana, sans-serif;
    word-wrap: break-word;
}

header {
    flex: none;
    -ms-flex: none;
    background: #5577BB;
    text-align: center;
}

header img { max-width: 100%; }

main {
    flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    padding: 2rem;
}

main > *:first-child { margin-top: 0; }
main > *:last-child { margin-bottom: 0; }

footer {
    flex: none;
    -ms-flex: none;
    padding: 0 2rem;
    background: #D8D8D8;
    font-size: 0.875rem;
    text-align: center;
}

header, nav, main, footer { display: block; }  /* For IE10 */

/* Menu */
nav { margin: 0; background: #335599; color: #C0CCE6; }
nav a { color: white; }
nav a:hover { color: #C0CCE6; }

nav > ul { list-style: none; margin: 0; padding: 0; text-align: center; }
nav > ul > li { display: inline-block; padding: 0; }
nav > ul > li + li::before { content: ' • '; }

li.menu-focus-link > a { font-weight: bold; }

form#login { display: inline; }
input#username, input#password { width: 10rem; }

/* Flash messages */
div#flash { background: #DDF8E2; border-bottom: 2px solid #085415; }
div#flash > ul { margin: 0 1rem; padding: 1rem; }


/*** ELEMENTS AND SHARED CLASSES ***/

/* Links */
a { color: #144BB8; text-decoration: none; }
a:hover { color: #759EF0; }

/* abbr — pseudo double dotted underline */
abbr { border-bottom: 1px dotted black; text-decoration: dotted underline; }

/* Images — align nicely with text */
img { vertical-align: middle; }

/* Headings */
h1 {
    color: white;
    font-size: 1.3rem;

    border: 3px solid #335599;
    border-radius: 2.6rem;
    background: #5577BB;

    margin: 2rem -1rem 1rem;
    padding: 0.25rem 1rem;
}

h2 {
    font-size: 1.3rem;
    border-bottom: 3px solid #7799EE;
}

h1 a, h2 a { color: inherit; }
h1 a:hover, h2 a:hover {
    color: inherit;
    text-decoration: underline;
}

/* Monospace text */
pre,
code,
*.editor input[type="text"],
*.editor textarea {
    /* Try to cover everyone (and hopefully avoid Courier) */
    font-family: DejaVu Sans Mono, Monaco, Droid Sans Mono, Lucida Console,
                 monospace;
    font-size: 1rem;
}

/* Definition lists, with dt and dd on the same line */
dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: baseline;
}

dt {
    width: 10rem;
    grid-column-start: 1;
    text-align: right;
    padding: 0.5rem 0 0.5rem 0.5rem;
    font-weight: bold;
}

dt:after { content: ':\A0'; }  /* \A0 is a non-breaking space */

dd {
    grid-column-start: 2;
    margin-left: 0;
    padding: 0.5rem 0.5rem 0.5rem 0;
}

dd > *:first-child { margin-top: 0; }
dd > *:last-child { margin-bottom: 0; }

/* Forms */
textarea { display: block; }

fieldset {
    position: relative;
    margin-top: 2.56rem;  /* Extra space for the legend */
    margin-bottom: 1rem;

    background: #DEE6F5;
    border: none;
    border-top: 3px solid #7799EE;
}

fieldset > *:first-child:not(legend),
fieldset > legend + * {
    margin-top: 0;
}

fieldset > *:last-child { margin-bottom: 0; }

legend {
    /* Mimic an h2 sitting on top of the fieldset */
    position: absolute;
    top: calc(-1.56rem - 3px);  /* -(font-size * line-height) - border-width */
    left: 0;

    font-size: 1.3rem;
    font-weight: bold;
}

*.form-error, *.warning { color: #CC0000 }

ul.option-list { list-style-type: none; padding-left: 1rem; }

*.editor input[type="text"],
*.editor textarea {
    display: inline;
    vertical-align: baseline;
    width: 100%;
}

*.editor input.energy-field { width: 2ch; }

/* Tables */
table {
    border-width: 0;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table.standard-table {
    table-layout: fixed;
    width: 0;  /* Let the columns determine the width */
}

table.effect-table { width: 100%; }
table.effect-table > tbody { vertical-align: baseline; }

tbody, tfoot { border-top: 2px solid #7799EE; }

tbody > tr:hover:not(.subheader-row) { background: #D1D8E7; }

tr.subheader-row {
    text-align: center;
    border-bottom: 2px solid #7799EE;
    background: #DEE6F5;
}

tr.subheader-row a { color: inherit; }
tr.subheader-row a:hover { text-decoration: underline; }

th, td { padding: 0.5rem; line-height: 1rem; }
th { word-wrap: normal; }

td > p:first-child { margin-top: 0; }
td > p:last-child { margin-bottom: 0; }

td.focus-column { font-weight: bold; }

td.icon, td.stat, td.price, td.gender, td.input { text-align: center; }

td.icon, td.squad, td.type-cell, td.damage-class-cell, td.input {
    /* Things only slightly taller than text shouldn't stretch rows */
    padding-top: 0;
    padding-bottom: 0;
}

td.icon, td.ticky {
    /* Pretend to be part of the next cell */
    padding-right: 0;
}

td.icon + td, td.ticky + td {
    padding-left: 0;
}

col.ability { width: 10rem; }
col.battle { width: 25rem; }
col.date { width: 5rem; }
col.date-full { width: 12rem; }
col.gender { width: 2rem; }
col.give { width: 4rem; }
col.input-small { width: 2.5rem; }
col.item { width: 10rem; }
col.move { width: 13rem; }
col.percentage { width: 4rem; }
col.pokemon { width: 13rem; }
col.pokemon-form { width: 13rem; }
col.pokemon-species { width: 8rem; }
col.population { width: 3.5rem; }
col.price { width: 4rem; }
col.summary { width: 100%; }
col.stat { width: 3rem; }
col.stat-speed { width: 5rem; }  /* Wide header */
col.ticky { width: 2rem; }
col.trainer { width: 13rem; }

col.pokemon-icon { width: calc(40px + 0.5rem); }
col.item-icon { width: calc(30px + 0.5rem); }

col.type-col, col.damage-class-col {
    width: calc(4.375rem + 4px + 1rem);
}

col.two-types {
    width: calc((4.375rem + 4px) * 2 + 1rem);
}

/* Big Pokémon sprite */
div.portrait-block {
    float: left;
    text-align: center;
    width: 175px;
}

*.portrait {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #C0CCE6;
}

*.portrait img { width: 120px; height: 120px; }

div.portrait-block > *.portrait { margin: 10px auto; }

div.beside-portrait:after {
    display: block;
    clear: both;
    content: '';
}

/* Type and damage class icons */
*.type,
*.damage-class {
    display: inline-block;

    width: 4.375rem;
    height: 1.25rem;
    border: 2px solid;
    border-radius: 12px;

    text-align: center;
    line-height: 1.25rem;

    color: white;
    text-shadow: black 1px 1px;
    font-weight: normal;
}

*.type > a,
*.damage-class > a {
    color: inherit;
}

*.type > a:hover,
*.damage-class > a:hover {
    text-decoration: underline;
}

*.type-normal { background: #ADAD7B; border-color: #735A4A; }
*.type-fire { background: #F75231; border-color: #943129; }
*.type-water { background: #6B94F7; border-color: #847B73; }
*.type-grass { background: #7BCE52; border-color: #5A8442; }
*.type-electric { background: #FFD631; border-color: #BDA53A; }
*.type-ice { background: #9CDEDE; border-color: #9494A5; }
*.type-fighting { background: #943129; border-color: #4A423A; }
*.type-poison { background: #A542A5; border-color: #4A3A52; }
*.type-ground { background: #E6C56B; border-color: #8C6B31; }
*.type-flying { background: #AD94F7; border-color: #7A5A9C; }
*.type-psychic { background: #FF5A8C; border-color: #946363; }
*.type-bug { background: #ADBD21; border-color: #7B9410; }
*.type-rock { background: #BDA53A; border-color: #8C6B31; }
*.type-ghost { background: #735A9C; border-color: #4A3A52; }
*.type-dragon { background: #733AFF; border-color: #4A3A94; }
*.type-dark { background: #735A4A; border-color: #4A423A; }
*.type-steel { background: #BDBDD6; border-color: #847B73; }
*.type-fairy { background: #FFA5E6; border-color: #B56B84; }

*.damage-class-physical { background: #CE2918; border-color: #5A3929; }
*.damage-class-special { background: #5A637B; border-color: #424A5A; }
*.damage-class-non-damaging { background: #CCCCCC; border-color: #AAAAAA; }

/* Gender symbols */
*.gender-symbol-female { color: #FF4273; }
*.gender-symbol-male { color: #00C5AD; }
*.gender-symbol-genderless { color: black; }

/* Type matchup dls */
dl.type-matchups > dt { width: 15rem; }

dl.type-matchups > dd {
    flex-basis: calc(100% - 16rem);
    min-width: calc(100% - 16rem);
    padding-top: 0;
    padding-bottom: 0;
}

/* User-entered markup (e.g. profiles, news posts) */
blockquote, details {
    background: #DEE6F5;
    border: solid #7799EE;
    border-width: 1px 1px 1px 4px;
    margin: 0;
    padding: 0.5rem 1rem;
}

summary { font-weight: bold; }

blockquote > p:first-child { margin-top: 0; }
blockquote > p:last-child { margin-bottom: 0; }

div.plain-text,
div.bbcode {
    white-space: pre-wrap;
}

div.bbcode ul,
div.bbcode ol {
    margin: 0;
}

*.spoiler { color: #000000; background: #000000; }

ul.markup-format {
    display: flex;
    list-style-type: none;
    padding: 0;
}

ul.markup-format > li + li { margin-left: 1rem; }

/* Misc. */
*.hidden-ability { font-style: italic; }
*.redundant-ability a { color: #AAAAAA; }
*.redundant-ability a:hover { color: #CCCCCC; }

*.positive-priority { color: #008000; }
*.negative-priority { color: #FF0000; }


/*** SPECIFIC PAGES ***/

/* Registration form */
form#registration-form label { display: block; font-weight: bold; }
form#registration-form input { display: block; margin-left: 1.5rem; }
form#registration-form p { font-style: italic; font-size: 0.9rem; }
form#registration-form input[type="submit"] { margin-left: 0; }

/* Login page */
form#login-page-form { text-align: center; }

/* Settings form — a lot like the registration form */
form#settings-form label { display: block; font-weight: bold; }

form#settings-form input[type="password"],
form#settings-form input[type="text"] {
    display: block;
    margin-left: 1.5rem;
}

form#settings-form div + div {
    border-top: 1px solid black;
    padding-top: 0.5rem;
    margin-top: 0.5rem;
}

/* Manage items page — I'M SO ANNOYED that this doesn't really fit into any of
   the other "centered column" classes */
td.give { text-align: center }

/* Pokémon species list */
td.population-zero { color: #AAAAAA; }

/* Pokémon species pages */
table.evolution-tree {
    margin: auto;
    border-spacing: 0.5rem;
    border-collapse: separate;
}

table.evolution-tree td {
    width: 11rem;
    height: 3rem;
    background: #DEE6F5;
    border: 1px solid #7799EE;
    text-align: center;
    vertical-align: middle;
}

table.evolution-tree td:hover { background: #D1DDF7; }
table.evolution-tree td.focus { background: #C0CCE6; }

p.evolution-method { font-size: 0.7rem; margin: 0; }

ul#species-form-list { padding-left: 0; list-style: none; }
ul#species-form-list li {
    display: inline-block;
    background: none;
}

ul#species-form-list li:hover { background: #D1D8E7; }
ul#species-form-list li.focus { background: #B5C0D8; }

/* Pokémon pages */
span.evolution-progress { font-size: 14px; }

/* Buying stuff */
td.promotion-price { color: #008000; font-weight: bold; }
tr.unaffordable-total { color: #CC0000; }

/* Editing Pokémon */
/* Normal/shiny options — similar to the form list on a species page */
ul#pokemon-color-list {
    display: inline-flex;
    display: -ms-inline-flexbox;
    align-items: baseline;
    -ms-flex-align: baseline;
    padding-left: 0;
}

ul#pokemon-color-list label {
    display: block;
    padding: 0 0.5rem;
    text-align: center;
}

ul#pokemon-color-list input { margin: 0; }

ul#pokemon-color-list div.portrait { background: #D1D8E7; }
ul#pokemon-color-list input:checked + div.portrait { background: #B5C0D8; }

/* Evolving Pokémon */
form#evolution-form > ul {
    display: flex;
    display: -ms-flexbox;
    justify-content: center;
    -ms-flex-pack: center;
    list-style: none;
    padding: 0;
}

form#evolution-form label {
    display: flex;
    display: -ms-flexbox;
    flex-direction: column;
    -ms-flex-direction: column;
    align-items: center;
    -ms-flex-align: center;
    margin: 0 1rem;
    width: 10rem;
}

form#evolution-form p { margin: 0; }
form#evolution-form p.evolution-name { font-size: 1.5rem; }

form#evolution-form input[type="submit"] { display: block; margin: auto; }

*.evolution-note { text-align: center; font-size: 0.875rem; }
*.topsy-turvy { transform: rotate(0.5turn); }

/* Move pages */
div#move-info > dl { float: left; width: 33%; margin: 0; }
div#move-info > dl + dl { margin-left: 0.5%; }
div#move-info:after { display: block; content: ''; clear: both; }

/* Bank */
table.transactions { white-space: nowrap; }
table.transactions tr { vertical-align: baseline; }
table.transactions td.input { line-height: 2rem; }
table.transactions td.notes { white-space: normal; }
table.transactions ul { margin: 0; padding-left: 1rem; }

/* Type chart */
table#type-chart { table-layout: fixed; width: 0; }

col#left-axis { width: 2rem; }
colgroup#matchups { border-left: 2px solid #7799EE; }
colgroup#matchups > col { width: 40px; }

table#type-chart tr { height: 40px; }

tr#defending-types > th {
    height: calc(4.375rem + 4px);
    vertical-align: bottom;
}

tr#defending-types *.type {
    transform: translateY(100%) rotate(-0.25turn);
    transform-origin: 0 0;
}

th#left-axis-label {
    /* "Attacking type" label — cover up tr hover colour */
    background: #F0F0F0;
}

th#left-axis-label > span {
    display: inline-block;
    white-space: nowrap;
    transform: rotate(-0.25turn) translate(-50%, 50%);
    transform-origin: 0 50%;
}

table#type-chart td { font-weight: bold; text-align: center; }

td.super-effective {
    color: #008000;
    background: #C0E8A8;
    border: 2px solid #004000;
}

td.not-very-effective {
    color: #F0E0E0;
    background: #D85050;
    border: 2px solid #300000;
}

td.ineffective {
    color: #F0F0F0;
    background: #404040;
    border: 2px solid #000000;
}

/* News */
p.news-timestamp { font-style: italic; }

form#news-form dt { width: 5rem; }
form#news-form dd { flex-basis: calc(100% - 6rem); min-width: calc(100% - 6rem); }

/* Trainer page battle histories */
dl.battle-stats { display: flex; }
dl.battle-stats dt, dl.battle-stats dd {
    width: auto;
    min-width: 0;
    padding: 0;
}
dl.battle-stats dd + dt::before {
    content: '•';
    margin: 0 0.5rem;
}

/* Battle pages */
tr.highlight-row { background-color: #D1DDF7; }
