/**** GLOBAL STUFF ****/

html {
    font-size: 16px;
}

body {
    font-family: DejaVu Sans, Verdana, sans-serif;
    margin: 0;
    word-wrap: break-word;

    /* This is the background colour intended for the footer, but we want the
    space under the footer to be this colour, too, on short pages */
    background: #D8D8D8;
}

main > :first-child { margin-top: 0; }
main > :last-child { margin-bottom: 0; }

a { text-decoration: none; color: #144BB8; }
a:hover { color: #759EF0; }

h1 a, h2 a, .type a { color: inherit; }
h1 a:hover, h2 a:hover, .type a:hover {
    color: inherit;
    text-decoration: underline;
}

abbr { border-bottom: 1px dotted black; }

header, main, footer { margin: 0; display: block; }
header { background: #5577BB; text-align: center; }
header img { max-width: 100%; }
main { padding: 2em; background: #F0F0F0; }
footer {
    padding: 0 2rem;
    font-size: 14px;
    text-align: center;
}

/* Headers */
h1 {
    border: 3px solid #335599;
    background: #5577BB;
    color: white;
    border-radius: 2em;
    margin: 2rem -1rem 1rem;
    padding: 0.25rem 1rem;
    font-size: 1.3rem;
}

h2 {
    font-size: 1.3em;
    border-bottom: 3px solid #7799EE;
}

/* Menu */
nav { margin: 0; background: #335599; color: #C0CCE6; }
nav a { color: white; }
nav a:hover { color: #C0CCE6; }

nav > ul { list-style: none; padding: 0; text-align: center; margin: 0; }
nav > ul > li { display: inline-block; padding: 0; }
nav > ul > li + li::before { content: ' • '; }

.menu-focus-link > a { font-weight: bold; }

/* Login form */
#login { display: inline; }
#login #username, #login #password { width: 10em; }

/* Flash messages */
#flash { background: #DDF8E2; border-bottom: 2px solid #085415; }
#flash ul { margin: 0 1em; padding: 1em; }


/**** SHARED STUFF ****/

/* Images — align nicely with text */
img { vertical-align: middle; }

/* Error/warning messages */
.form-error, .warning{ color: #CC0000; }

/* Definition lists with dt and dd on the same line */
dl { overflow: hidden /* New float context */; }

dt {
    float: left;
    clear: left;
    font-weight: bold;
    width: 10em;
    text-align: right;
}

dt:after { content: ':'; }
dd { margin-left: 10.5em /* factor in dt + padding */; }
dt, dd { padding: 0.5em; }

dd > p:first-child { margin-top: 0; }
dd > p:last-child { margin-bottom: 0; }

/* Tables */
table {
    border-width: 0;
    border-collapse: collapse;
    margin-bottom: 1rem;
}

table.standard-table {
    table-layout: fixed;
    width: 0;  /* let the columns determine the width */
}

table.effect-table { width: 100%; }

td, th { padding: 0.5rem; line-height: 1rem; }
th { word-wrap: normal; }

thead { border-bottom: 2px solid #7799EE; }
tfoot { border-top: 2px solid #7799EE; }
tbody + tbody { border-top: 2px solid #7799EE; }

tbody > tr:hover { background: #D1D8E7; }

tr.subheader-row {
    text-align: center;
    border-bottom: 2px solid #7799EE;
    background: #DEE6F5;
}

td.focus-column { font-weight: bold; }
td.gender, td.stat, td.price { text-align: center; }

.effect-table tbody tr { vertical-align: top; }

td.icon {
    padding: 0 0 0 8px;  /* px so we can specify column width in px */
    text-align: center;
}

td.icon + td { padding-left: 0; }
.effect-table td.icon { line-height: 2em; }

td.squad { padding-top: 0; padding-bottom: 0; }

td.input { padding: 0 0.5em; height: 2rem; line-height: 2rem; text-align: center; }

td.ticky { padding-right: 0; }
td.ticky + td { padding-left: 0; }

col.ability { width: 10rem; }
col.damage-class-col { width: 90px; }
col.date { width: 5rem; }
col.gender { width: 2rem; }
col.give { width: 4rem; }
col.input-small { width: 2.5rem; }
col.item { width: 10rem; }
col.item-icon { width: 38px; }
col.move { width: 13rem; }
col.percentage { width: 4rem; }
col.pokemon { width: 13rem; }
col.pokemon-form { width: 13rem; }
col.pokemon-icon { width: 48px; }
col.pokemon-species { width: 8rem; }
col.population { width: 3.5rem; }
col.price { width: 4rem; }
col.summary { width: 100%; }
col.stat { width: 3rem; }
col.stat-speed { width: 5rem; }  /* Wide header */
col.ticky { width: 2rem; }
col.trainer { width: 13rem; }
col.type-col { width: 90px; }
col.two-types { width: 164px; }

/* Big Pokémon sprite */
.portrait-block { float: left; text-align: center; width: 175px; }

img.portrait {
    border: 5px ridge #0044FF;
    margin: 5px auto;
    display: block;
}

.beside-portrait:after { clear: both; display: block; content: ""; }

/* Type and damage class icons */
.type, .damage-class {
    display: inline-block;
    width: 70px; height: 20px; border: 2px solid; border-radius: 12px;
    text-align: center; vertical-align: middle; line-height: 20px;
    font-weight: normal !important;
    color: white; text-shadow: black 1px 1px;
}

.type-normal { background: #ADAD7B; border-color: #735A4A; }
.type-fire { background: #F75231; border-color: #943129; }
.type-water { background: #6B94F7; border-color: #847B73; }
.type-grass { background: #7BCE52; border-color: #5A8442; }
.type-electric { background: #FFD631; border-color: #BDA53A; }
.type-ice { background: #9CDEDE; border-color: #9494A5; }
.type-fighting { background: #943129; border-color: #4A423A; }
.type-poison { background: #A542A5; border-color: #4A3A52; }
.type-ground { background: #E6C56B; border-color: #8C6B31; }
.type-flying { background: #AD94F7; border-color: #7A5A9C; }
.type-psychic { background: #FF5A8C; border-color: #946363; }
.type-bug { background: #ADBD21; border-color: #7B9410; }
.type-rock { background: #BDA53A; border-color: #8C6B31; }
.type-ghost { background: #735A9C; border-color: #4A3A52; }
.type-dragon { background: #733AFF; border-color: #4A3A94; }
.type-dark { background: #735A4A; border-color: #4A423A; }
.type-steel { background: #BDBDD6; border-color: #847B73; }
.type-fairy { background: #FFA5E6; border-color: #B56B84; }

.damage-class-physical { background: #CE2918; border-color: #5A3929; }
.damage-class-special { background: #5A637B; border-color: #424A5A; }
.damage-class-non-damaging { background: #CCCCCC; border-color: #AAAAAA; }

/* Type icons shouldn't stretch table rows */
td.type-cell, td.damage-class-cell { padding: 0 8px; }

/* Type icons need to be re-aligned with the rest of the text in vertically-
   aligned tables (XXX this is kind of a gross way of doing it) */
table.effect-table td.type-cell,
table.effect-table td.damage-class-cell
    { padding-top: 0.5em; }

table.effect-table td.type-cell > .type,
table.effect-table td.damage-class-cell > .damage-class
    { margin-top: -4px; }

/* Gender symbols */
.gender-symbol-female { color: #FF4273; }
.gender-symbol-male { color: #00C5AD; }
.gender-symbol-genderless { color: black; }

/* Type matchup dls have long dts */
dl.type-matchups > dt { width: 15em; }
dl.type-matchups > dd { margin-left: 15.5em; }

/* Misc. */
.hidden-ability { font-style: italic; }
.redundant-ability a { color: #AAAAAA; }
.redundant-ability a:hover { color: #CCCCCC; }

.positive-priority { color: #008000; }
.negative-priority { color: #FF0000; }

textarea { display: block; }

ul.option-list { list-style-type: none; padding-left: 1em; }

/**** SPECIFIC PAGES ****/

/* Registration form */
#registration-form label { display: block; font-weight: bold; }
#registration-form input { display: block; margin-left: 1.5em; }
#registration-form p { font-style: italic; font-size: 0.9em; }
#registration-form #submit { margin-left: 0; }

/* Login page */
#login-page-form { text-align: center; }

/* Settings form — a lot like the registration form */
#settings-form label { display: block; font-weight: bold; }

#settings-form input[type="password"],
#settings-form input[type="text"] {
    display: block; margin-left: 1.5em;
}

#settings-form div + div {
    border-top: 1px solid black;
    padding-top: 0.5em;
    margin-top: 0.5em;
}

/* Manage items page */
/* I'M SO ANNOYED that this doesn't really fit into any of the other "centered
   column" classes */
td.give { text-align: center }

/* Pokémon species list */
td.population-zero { color: #AAAAAA; }

/* Pokémon species pages */
table.evolution-tree {
    margin: auto;
    border-spacing: 0.5rem;
    border-collapse: separate;
}

table.evolution-tree td {
    width: 11em;
    height: 3em;
    background: #DEE6F5;
    border: 1px solid #7799EE;
    text-align: center;
    vertical-align: middle;
}

table.evolution-tree td:hover { background: #D1DDF7; }
table.evolution-tree td.focus { background: #C0CCE6; }

p.evolution-method { font-size: 0.7rem; margin: 0; }

ul#species-form-list { padding-left: 0; list-style: none; }
ul#species-form-list li {
    display: inline-block;
    border: 1px solid transparent;
}

#species-form-list li:hover {
    border: 1px solid #7799EE;
    background: #DEE6F5;
}

ul#species-form-list li.focus {
    border: 1px solid #7799EE;
    background: #C0CCE6;
}

/* Pokémon pages */
.evolution-progress { font-size: 14px; }

/* Buying stuff */
.promotion-price { color: #008000; font-weight: bold; }
tr.unaffordable-total { color: #CC0000; }

/* Evolving Pokémon */
form#evolution-form { text-align: center; }
form#evolution-form > ul { list-style: none; padding: 0; }
form#evolution-form > ul > li {
    display: inline-block;
    margin: 0 1rem;
    width: 10rem;
    vertical-align: top;
}

form#evolution-form > ul > li > option { display: block; }

form#evolution-form p { margin: 0; }
form#evolution-form p.evolution-name { font-size: 1.5rem; }

/* Move pages */
div#move-info > dl { float: left; width: 33%; margin: 0; }
div#move-info > dl + dl { margin-left: 0.5%; }
div#move-info:after { display: block; content: ''; clear: both; }

/* Bank */
table.transactions { white-space: nowrap; }
table.transactions tr { vertical-align: top; }
table.transactions td.notes { white-space: normal; }
table.transactions ul { margin: 0; padding-left: 1em; }

/* Flavour-editing pages */
form.flavor-editor input[type="text"],
form.flavor-editor textarea {
    /* Default to sans-serif to avoid Courier at all costs */
    font-family: DejaVu Sans Mono, Monaco, sans-serif;
    font-size: 16px;
    width: 100%;
}

/* Type chart */
#type-chart { table-layout: fixed; width: 0; }
#type-chart col#left-axis { width: 1rem; }
#type-chart col#attacking-types { width: 96px; }
#type-chart colgroup#matchups > col { width: 40px; }
#type-chart tr { height: 40px; }
#type-chart tr#defending-types > th { height: 70px; vertical-align: bottom; }

#type-chart colgroup + colgroup { border-left: 2px solid #7799EE; }
#type-chart td { font-weight: bold; text-align: center; }

#type-chart tr#defending-types .type {
    transform: translateY(100%) rotate(-0.25turn);
    transform-origin: 0 0;
}

#type-chart th#left-axis-label { background: #F0F0F0 !important; }
#type-chart th#left-axis-label span {
    display: inline-block;
    width: 10rem;
    transform: translateY(5rem) rotate(-0.25turn);
    transform-origin: 0 50%;
}

.super-effective {
    color: #008000;
    background: #C0E8A8;
    border: 2px solid #004000;
}

.not-very-effective {
    color: #F0E0E0;
    background: #D85050;
    border: 2px solid #300000;
}

.ineffective {
    color: #F0F0F0;
    background: #404040;
    border: 2px solid #000000;
}

/* News */
.news-timestamp { font-style: italic; }
form#news-form input[type="text"],
form#news-form textarea {
    /* Default to sans-serif to avoid Courier at all costs */
    font-family: DejaVu Sans Mono, Monaco, sans-serif;
    font-size: 16px;
    width: 100%;
}

form#news-form dt { width: 5em; }
form#news-form dd { margin-left: 5.5em; }

/* Signature move display */
div.sig-move-info > dl { float: left; width: 33%; margin: 0; }
div.sig-move-info > dl + dl { margin-left: 0.5%; }
div.sig-move-info:after { display: block; content: ''; clear: both; }

/* The approve, edit, deny links in approving sig stuff */
span.approval-links {
    float: right;
    font-size: 0.75em;
    font-weight: normal;
}

span.approval-links a { text-decoration: none; color: #144BB8; }
span.approval-links a:hover { color: #759EF0; }
