body {
    font-size: 16px;
    font-family: DejaVu Sans, Verdana, sans-serif;
}

/* Menu */
#menu { margin: 1em; }
#menu ul { list-style: none; padding: 0; border: 1px solid black; }
#menu li { padding: 0 0.25em; }
#menu > ul > li { display: inline-block; }
#menu > ul > li > ul { display: none; }
#menu > ul > li:hover > ul { display: block; position: absolute; background: white; }
#menu > ul > li > ul > li > ul { border: none; }
#menu > ul > li > ul > li > ul > li { padding-left: 1em; }

/* Gender symbols */
.gender-symbol-female { color: #F84070; }
.gender-symbol-male { color: #00C0A8; }
/*.gender-symbol-genderless { color: #808080; }*/


/* SPECIFIC PAGES */

/* Registration form */
#registration-form label { display: block; font-weight: bold; }
#registration-form input { display: block; margin-left: 1.5em; }

ul#what_do { list-style-type: none; padding: 0; }
ul#what_do input { display: inline; }
ul#what_do label { font-weight: normal; display: inline; }

#registration-form p { font-style: italic; font-size: 0.9em; }

#registration-form #submit { margin-left: 0; }
