span.pokemon-icon {
    width: 40px;  height: 30px;
    background-image: url(/static/images/pokemon-icons.png);
    display: inline-block;
    vertical-align: middle;
    padding: 0;  margin: 0;
}

span.pokemon-icon.shiny {
    background-image: url(/static/images/pokemon-icons-shiny.png);
}

.bulbasaur { background-position: -0px -0px; }
.ivysaur { background-position: -40px -0px; }
.venusaur { background-position: -80px -0px; }
.charmander { background-position: -120px -0px; }
.charmeleon { background-position: -160px -0px; }
.charizard { background-position: -200px -0px; }
.squirtle { background-position: -240px -0px; }
.wartortle { background-position: -280px -0px; }
.blastoise { background-position: -320px -0px; }
.caterpie { background-position: -360px -0px; }
.metapod { background-position: -400px -0px; }
.butterfree { background-position: -440px -0px; }
.weedle { background-position: -480px -0px; }
.kakuna { background-position: -520px -0px; }
.beedrill { background-position: -560px -0px; }
.pidgey { background-position: -600px -0px; }
.pidgeotto { background-position: -640px -0px; }
.pidgeot { background-position: -680px -0px; }
.rattata { background-position: -720px -0px; }
.raticate { background-position: -760px -0px; }
.spearow { background-position: -800px -0px; }
.fearow { background-position: -840px -0px; }
.ekans { background-position: -880px -0px; }
.arbok { background-position: -920px -0px; }
.pikachu { background-position: -960px -0px; }
.raichu { background-position: -1000px -0px; }
.sandshrew { background-position: -1040px -0px; }
.sandslash { background-position: -1080px -0px; }
.nidoran-f { background-position: -1120px -0px; }
.nidorina { background-position: -1160px -0px; }
.nidoqueen { background-position: -1200px -0px; }
.nidoran-m { background-position: -0px -30px; }
.nidorino { background-position: -40px -30px; }
.nidoking { background-position: -80px -30px; }
.clefairy { background-position: -120px -30px; }
.clefable { background-position: -160px -30px; }
.vulpix { background-position: -200px -30px; }
.ninetales { background-position: -240px -30px; }
.jigglypuff { background-position: -280px -30px; }
.wigglytuff { background-position: -320px -30px; }
.zubat { background-position: -360px -30px; }
.golbat { background-position: -400px -30px; }
.oddish { background-position: -440px -30px; }
.gloom { background-position: -480px -30px; }
.vileplume { background-position: -520px -30px; }
.paras { background-position: -560px -30px; }
.parasect { background-position: -600px -30px; }
.venonat { background-position: -640px -30px; }
.venomoth { background-position: -680px -30px; }
.diglett { background-position: -720px -30px; }
.dugtrio { background-position: -760px -30px; }
.meowth { background-position: -800px -30px; }
.persian { background-position: -840px -30px; }
.psyduck { background-position: -880px -30px; }
.golduck { background-position: -920px -30px; }
.mankey { background-position: -960px -30px; }
.primeape { background-position: -1000px -30px; }
.growlithe { background-position: -1040px -30px; }
.arcanine { background-position: -1080px -30px; }
.poliwag { background-position: -1120px -30px; }
.poliwhirl { background-position: -1160px -30px; }
.poliwrath { background-position: -1200px -30px; }
.abra { background-position: -0px -60px; }
.kadabra { background-position: -40px -60px; }
.alakazam { background-position: -80px -60px; }
.machop { background-position: -120px -60px; }
.machoke { background-position: -160px -60px; }
.machamp { background-position: -200px -60px; }
.bellsprout { background-position: -240px -60px; }
.weepinbell { background-position: -280px -60px; }
.victreebel { background-position: -320px -60px; }
.tentacool { background-position: -360px -60px; }
.tentacruel { background-position: -400px -60px; }
.geodude { background-position: -440px -60px; }
.graveler { background-position: -480px -60px; }
.golem { background-position: -520px -60px; }
.ponyta { background-position: -560px -60px; }
.rapidash { background-position: -600px -60px; }
.slowpoke { background-position: -640px -60px; }
.slowbro { background-position: -680px -60px; }
.magnemite { background-position: -720px -60px; }
.magneton { background-position: -760px -60px; }
.farfetchd { background-position: -800px -60px; }
.doduo { background-position: -840px -60px; }
.dodrio { background-position: -880px -60px; }
.seel { background-position: -920px -60px; }
.dewgong { background-position: -960px -60px; }
.grimer { background-position: -1000px -60px; }
.muk { background-position: -1040px -60px; }
.shellder { background-position: -1080px -60px; }
.cloyster { background-position: -1120px -60px; }
.gastly { background-position: -1160px -60px; }
.haunter { background-position: -1200px -60px; }
.gengar { background-position: -0px -90px; }
.onix { background-position: -40px -90px; }
.drowzee { background-position: -80px -90px; }
.hypno { background-position: -120px -90px; }
.krabby { background-position: -160px -90px; }
.kingler { background-position: -200px -90px; }
.voltorb { background-position: -240px -90px; }
.electrode { background-position: -280px -90px; }
.exeggcute { background-position: -320px -90px; }
.exeggutor { background-position: -360px -90px; }
.cubone { background-position: -400px -90px; }
.marowak { background-position: -440px -90px; }
.hitmonlee { background-position: -480px -90px; }
.hitmonchan { background-position: -520px -90px; }
.lickitung { background-position: -560px -90px; }
.koffing { background-position: -600px -90px; }
.weezing { background-position: -640px -90px; }
.rhyhorn { background-position: -680px -90px; }
.rhydon { background-position: -720px -90px; }
.chansey { background-position: -760px -90px; }
.tangela { background-position: -800px -90px; }
.kangaskhan { background-position: -840px -90px; }
.horsea { background-position: -880px -90px; }
.seadra { background-position: -920px -90px; }
.goldeen { background-position: -960px -90px; }
.seaking { background-position: -1000px -90px; }
.staryu { background-position: -1040px -90px; }
.starmie { background-position: -1080px -90px; }
.mr-mime { background-position: -1120px -90px; }
.scyther { background-position: -1160px -90px; }
.jynx { background-position: -1200px -90px; }
.electabuzz { background-position: -0px -120px; }
.magmar { background-position: -40px -120px; }
.pinsir { background-position: -80px -120px; }
.tauros { background-position: -120px -120px; }
.magikarp { background-position: -160px -120px; }
.gyarados { background-position: -200px -120px; }
.lapras { background-position: -240px -120px; }
.ditto { background-position: -280px -120px; }
.eevee { background-position: -320px -120px; }
.vaporeon { background-position: -360px -120px; }
.jolteon { background-position: -400px -120px; }
.flareon { background-position: -440px -120px; }
.porygon { background-position: -480px -120px; }
.omanyte { background-position: -520px -120px; }
.omastar { background-position: -560px -120px; }
.kabuto { background-position: -600px -120px; }
.kabutops { background-position: -640px -120px; }
.aerodactyl { background-position: -680px -120px; }
.snorlax { background-position: -720px -120px; }
.articuno { background-position: -760px -120px; }
.zapdos { background-position: -800px -120px; }
.moltres { background-position: -840px -120px; }
.dratini { background-position: -880px -120px; }
.dragonair { background-position: -920px -120px; }
.dragonite { background-position: -960px -120px; }
.mewtwo { background-position: -1000px -120px; }
.mew { background-position: -1040px -120px; }
.chikorita { background-position: -1080px -120px; }
.bayleef { background-position: -1120px -120px; }
.meganium { background-position: -1160px -120px; }
.cyndaquil { background-position: -1200px -120px; }
.quilava { background-position: -0px -150px; }
.typhlosion { background-position: -40px -150px; }
.totodile { background-position: -80px -150px; }
.croconaw { background-position: -120px -150px; }
.feraligatr { background-position: -160px -150px; }
.sentret { background-position: -200px -150px; }
.furret { background-position: -240px -150px; }
.hoothoot { background-position: -280px -150px; }
.noctowl { background-position: -320px -150px; }
.ledyba { background-position: -360px -150px; }
.ledian { background-position: -400px -150px; }
.spinarak { background-position: -440px -150px; }
.ariados { background-position: -480px -150px; }
.crobat { background-position: -520px -150px; }
.chinchou { background-position: -560px -150px; }
.lanturn { background-position: -600px -150px; }
.pichu { background-position: -640px -150px; }
.cleffa { background-position: -680px -150px; }
.igglybuff { background-position: -720px -150px; }
.togepi { background-position: -760px -150px; }
.togetic { background-position: -800px -150px; }
.natu { background-position: -840px -150px; }
.xatu { background-position: -880px -150px; }
.mareep { background-position: -920px -150px; }
.flaaffy { background-position: -960px -150px; }
.ampharos { background-position: -1000px -150px; }
.bellossom { background-position: -1040px -150px; }
.marill { background-position: -1080px -150px; }
.azumarill { background-position: -1120px -150px; }
.sudowoodo { background-position: -1160px -150px; }
.politoed { background-position: -1200px -150px; }
.hoppip { background-position: -0px -180px; }
.skiploom { background-position: -40px -180px; }
.jumpluff { background-position: -80px -180px; }
.aipom { background-position: -120px -180px; }
.sunkern { background-position: -160px -180px; }
.sunflora { background-position: -200px -180px; }
.yanma { background-position: -240px -180px; }
.wooper { background-position: -280px -180px; }
.quagsire { background-position: -320px -180px; }
.espeon { background-position: -360px -180px; }
.umbreon { background-position: -400px -180px; }
.murkrow { background-position: -440px -180px; }
.slowking { background-position: -480px -180px; }
.misdreavus { background-position: -520px -180px; }
.unown-a { background-position: -560px -180px; }
.wobbuffet { background-position: -600px -180px; }
.girafarig { background-position: -640px -180px; }
.pineco { background-position: -680px -180px; }
.forretress { background-position: -720px -180px; }
.dunsparce { background-position: -760px -180px; }
.gligar { background-position: -800px -180px; }
.steelix { background-position: -840px -180px; }
.snubbull { background-position: -880px -180px; }
.granbull { background-position: -920px -180px; }
.qwilfish { background-position: -960px -180px; }
.scizor { background-position: -1000px -180px; }
.shuckle { background-position: -1040px -180px; }
.heracross { background-position: -1080px -180px; }
.sneasel { background-position: -1120px -180px; }
.teddiursa { background-position: -1160px -180px; }
.ursaring { background-position: -1200px -180px; }
.slugma { background-position: -0px -210px; }
.magcargo { background-position: -40px -210px; }
.swinub { background-position: -80px -210px; }
.piloswine { background-position: -120px -210px; }
.corsola { background-position: -160px -210px; }
.remoraid { background-position: -200px -210px; }
.octillery { background-position: -240px -210px; }
.delibird { background-position: -280px -210px; }
.mantine { background-position: -320px -210px; }
.skarmory { background-position: -360px -210px; }
.houndour { background-position: -400px -210px; }
.houndoom { background-position: -440px -210px; }
.kingdra { background-position: -480px -210px; }
.phanpy { background-position: -520px -210px; }
.donphan { background-position: -560px -210px; }
.porygon2 { background-position: -600px -210px; }
.stantler { background-position: -640px -210px; }
.smeargle { background-position: -680px -210px; }
.tyrogue { background-position: -720px -210px; }
.hitmontop { background-position: -760px -210px; }
.smoochum { background-position: -800px -210px; }
.elekid { background-position: -840px -210px; }
.magby { background-position: -880px -210px; }
.miltank { background-position: -920px -210px; }
.blissey { background-position: -960px -210px; }
.raikou { background-position: -1000px -210px; }
.entei { background-position: -1040px -210px; }
.suicune { background-position: -1080px -210px; }
.larvitar { background-position: -1120px -210px; }
.pupitar { background-position: -1160px -210px; }
.tyranitar { background-position: -1200px -210px; }
.lugia { background-position: -0px -240px; }
.ho-oh { background-position: -40px -240px; }
.celebi { background-position: -80px -240px; }
.treecko { background-position: -120px -240px; }
.grovyle { background-position: -160px -240px; }
.sceptile { background-position: -200px -240px; }
.torchic { background-position: -240px -240px; }
.combusken { background-position: -280px -240px; }
.blaziken { background-position: -320px -240px; }
.mudkip { background-position: -360px -240px; }
.marshtomp { background-position: -400px -240px; }
.swampert { background-position: -440px -240px; }
.poochyena { background-position: -480px -240px; }
.mightyena { background-position: -520px -240px; }
.zigzagoon { background-position: -560px -240px; }
.linoone { background-position: -600px -240px; }
.wurmple { background-position: -640px -240px; }
.silcoon { background-position: -680px -240px; }
.beautifly { background-position: -720px -240px; }
.cascoon { background-position: -760px -240px; }
.dustox { background-position: -800px -240px; }
.lotad { background-position: -840px -240px; }
.lombre { background-position: -880px -240px; }
.ludicolo { background-position: -920px -240px; }
.seedot { background-position: -960px -240px; }
.nuzleaf { background-position: -1000px -240px; }
.shiftry { background-position: -1040px -240px; }
.taillow { background-position: -1080px -240px; }
.swellow { background-position: -1120px -240px; }
.wingull { background-position: -1160px -240px; }
.pelipper { background-position: -1200px -240px; }
.ralts { background-position: -0px -270px; }
.kirlia { background-position: -40px -270px; }
.gardevoir { background-position: -80px -270px; }
.surskit { background-position: -120px -270px; }
.masquerain { background-position: -160px -270px; }
.shroomish { background-position: -200px -270px; }
.breloom { background-position: -240px -270px; }
.slakoth { background-position: -280px -270px; }
.vigoroth { background-position: -320px -270px; }
.slaking { background-position: -360px -270px; }
.nincada { background-position: -400px -270px; }
.ninjask { background-position: -440px -270px; }
.shedinja { background-position: -480px -270px; }
.whismur { background-position: -520px -270px; }
.loudred { background-position: -560px -270px; }
.exploud { background-position: -600px -270px; }
.makuhita { background-position: -640px -270px; }
.hariyama { background-position: -680px -270px; }
.azurill { background-position: -720px -270px; }
.nosepass { background-position: -760px -270px; }
.skitty { background-position: -800px -270px; }
.delcatty { background-position: -840px -270px; }
.sableye { background-position: -880px -270px; }
.mawile { background-position: -920px -270px; }
.aron { background-position: -960px -270px; }
.lairon { background-position: -1000px -270px; }
.aggron { background-position: -1040px -270px; }
.meditite { background-position: -1080px -270px; }
.medicham { background-position: -1120px -270px; }
.electrike { background-position: -1160px -270px; }
.manectric { background-position: -1200px -270px; }
.plusle { background-position: -0px -300px; }
.minun { background-position: -40px -300px; }
.volbeat { background-position: -80px -300px; }
.illumise { background-position: -120px -300px; }
.roselia { background-position: -160px -300px; }
.gulpin { background-position: -200px -300px; }
.swalot { background-position: -240px -300px; }
.carvanha { background-position: -280px -300px; }
.sharpedo { background-position: -320px -300px; }
.wailmer { background-position: -360px -300px; }
.wailord { background-position: -400px -300px; }
.numel { background-position: -440px -300px; }
.camerupt { background-position: -480px -300px; }
.torkoal { background-position: -520px -300px; }
.spoink { background-position: -560px -300px; }
.grumpig { background-position: -600px -300px; }
.spinda { background-position: -640px -300px; }
.trapinch { background-position: -680px -300px; }
.vibrava { background-position: -720px -300px; }
.flygon { background-position: -760px -300px; }
.cacnea { background-position: -800px -300px; }
.cacturne { background-position: -840px -300px; }
.swablu { background-position: -880px -300px; }
.altaria { background-position: -920px -300px; }
.zangoose { background-position: -960px -300px; }
.seviper { background-position: -1000px -300px; }
.lunatone { background-position: -1040px -300px; }
.solrock { background-position: -1080px -300px; }
.barboach { background-position: -1120px -300px; }
.whiscash { background-position: -1160px -300px; }
.corphish { background-position: -1200px -300px; }
.crawdaunt { background-position: -0px -330px; }
.baltoy { background-position: -40px -330px; }
.claydol { background-position: -80px -330px; }
.lileep { background-position: -120px -330px; }
.cradily { background-position: -160px -330px; }
.anorith { background-position: -200px -330px; }
.armaldo { background-position: -240px -330px; }
.feebas { background-position: -280px -330px; }
.milotic { background-position: -320px -330px; }
.castform { background-position: -360px -330px; }
.kecleon { background-position: -400px -330px; }
.shuppet { background-position: -440px -330px; }
.banette { background-position: -480px -330px; }
.duskull { background-position: -520px -330px; }
.dusclops { background-position: -560px -330px; }
.tropius { background-position: -600px -330px; }
.chimecho { background-position: -640px -330px; }
.absol { background-position: -680px -330px; }
.wynaut { background-position: -720px -330px; }
.snorunt { background-position: -760px -330px; }
.glalie { background-position: -800px -330px; }
.spheal { background-position: -840px -330px; }
.sealeo { background-position: -880px -330px; }
.walrein { background-position: -920px -330px; }
.clamperl { background-position: -960px -330px; }
.huntail { background-position: -1000px -330px; }
.gorebyss { background-position: -1040px -330px; }
.relicanth { background-position: -1080px -330px; }
.luvdisc { background-position: -1120px -330px; }
.bagon { background-position: -1160px -330px; }
.shelgon { background-position: -1200px -330px; }
.salamence { background-position: -0px -360px; }
.beldum { background-position: -40px -360px; }
.metang { background-position: -80px -360px; }
.metagross { background-position: -120px -360px; }
.regirock { background-position: -160px -360px; }
.regice { background-position: -200px -360px; }
.registeel { background-position: -240px -360px; }
.latias { background-position: -280px -360px; }
.latios { background-position: -320px -360px; }
.kyogre { background-position: -360px -360px; }
.groudon { background-position: -400px -360px; }
.rayquaza { background-position: -440px -360px; }
.jirachi { background-position: -480px -360px; }
.deoxys, .deoxys-normal { background-position: -520px -360px; }
.turtwig { background-position: -560px -360px; }
.grotle { background-position: -600px -360px; }
.torterra { background-position: -640px -360px; }
.chimchar { background-position: -680px -360px; }
.monferno { background-position: -720px -360px; }
.infernape { background-position: -760px -360px; }
.piplup { background-position: -800px -360px; }
.prinplup { background-position: -840px -360px; }
.empoleon { background-position: -880px -360px; }
.starly { background-position: -920px -360px; }
.staravia { background-position: -960px -360px; }
.staraptor { background-position: -1000px -360px; }
.bidoof { background-position: -1040px -360px; }
.bibarel { background-position: -1080px -360px; }
.kricketot { background-position: -1120px -360px; }
.kricketune { background-position: -1160px -360px; }
.shinx { background-position: -1200px -360px; }
.luxio { background-position: -0px -390px; }
.luxray { background-position: -40px -390px; }
.budew { background-position: -80px -390px; }
.roserade { background-position: -120px -390px; }
.cranidos { background-position: -160px -390px; }
.rampardos { background-position: -200px -390px; }
.shieldon { background-position: -240px -390px; }
.bastiodon { background-position: -280px -390px; }
.burmy, .burmy-plant { background-position: -320px -390px; }
.wormadam, .wormadam-plant { background-position: -360px -390px; }
.mothim { background-position: -400px -390px; }
.combee { background-position: -440px -390px; }
.vespiquen { background-position: -480px -390px; }
.pachirisu { background-position: -520px -390px; }
.buizel { background-position: -560px -390px; }
.floatzel { background-position: -600px -390px; }
.cherubi { background-position: -640px -390px; }
.cherrim, .cherrim-overcast { background-position: -680px -390px; }
.shellos, .shellos-west { background-position: -720px -390px; }
.gastrodon, .gastrodon-west { background-position: -760px -390px; }
.ambipom { background-position: -800px -390px; }
.drifloon { background-position: -840px -390px; }
.drifblim { background-position: -880px -390px; }
.buneary { background-position: -920px -390px; }
.lopunny { background-position: -960px -390px; }
.mismagius { background-position: -1000px -390px; }
.honchkrow { background-position: -1040px -390px; }
.glameow { background-position: -1080px -390px; }
.purugly { background-position: -1120px -390px; }
.chingling { background-position: -1160px -390px; }
.stunky { background-position: -1200px -390px; }
.skuntank { background-position: -0px -420px; }
.bronzor { background-position: -40px -420px; }
.bronzong { background-position: -80px -420px; }
.bonsly { background-position: -120px -420px; }
.mime-jr { background-position: -160px -420px; }
.happiny { background-position: -200px -420px; }
.chatot { background-position: -240px -420px; }
.spiritomb { background-position: -280px -420px; }
.gible { background-position: -320px -420px; }
.gabite { background-position: -360px -420px; }
.garchomp { background-position: -400px -420px; }
.munchlax { background-position: -440px -420px; }
.riolu { background-position: -480px -420px; }
.lucario { background-position: -520px -420px; }
.hippopotas { background-position: -560px -420px; }
.hippowdon { background-position: -600px -420px; }
.skorupi { background-position: -640px -420px; }
.drapion { background-position: -680px -420px; }
.croagunk { background-position: -720px -420px; }
.toxicroak { background-position: -760px -420px; }
.carnivine { background-position: -800px -420px; }
.finneon { background-position: -840px -420px; }
.lumineon { background-position: -880px -420px; }
.mantyke { background-position: -920px -420px; }
.snover { background-position: -960px -420px; }
.abomasnow { background-position: -1000px -420px; }
.weavile { background-position: -1040px -420px; }
.magnezone { background-position: -1080px -420px; }
.lickilicky { background-position: -1120px -420px; }
.rhyperior { background-position: -1160px -420px; }
.tangrowth { background-position: -1200px -420px; }
.electivire { background-position: -0px -450px; }
.magmortar { background-position: -40px -450px; }
.togekiss { background-position: -80px -450px; }
.yanmega { background-position: -120px -450px; }
.leafeon { background-position: -160px -450px; }
.glaceon { background-position: -200px -450px; }
.gliscor { background-position: -240px -450px; }
.mamoswine { background-position: -280px -450px; }
.porygon-z { background-position: -320px -450px; }
.gallade { background-position: -360px -450px; }
.probopass { background-position: -400px -450px; }
.dusknoir { background-position: -440px -450px; }
.froslass { background-position: -480px -450px; }
.rotom { background-position: -520px -450px; }
.uxie { background-position: -560px -450px; }
.mesprit { background-position: -600px -450px; }
.azelf { background-position: -640px -450px; }
.dialga { background-position: -680px -450px; }
.palkia { background-position: -720px -450px; }
.heatran { background-position: -760px -450px; }
.regigigas { background-position: -800px -450px; }
.giratina, .giratina-altered { background-position: -840px -450px; }
.cresselia { background-position: -880px -450px; }
.phione { background-position: -920px -450px; }
.manaphy { background-position: -960px -450px; }
.darkrai { background-position: -1000px -450px; }
.shaymin, .shaymin-land { background-position: -1040px -450px; }
.arceus, .arceus-normal, .arceus-fire, .arceus-water, .arceus-grass,
    .arceus-electric, .arceus-ice, .arceus-fighting, .arceus-poison,
    .arceus-ground, .arceus-flying, .arceus-psychic, .arceus-bug, .arceus-rock,
    .arceus-ghost, .arceus-dragon, .arceus-dark, .arceus-steel, .arceus-fairy
    { background-position: -1080px -450px; }
.victini { background-position: -1120px -450px; }
.snivy { background-position: -1160px -450px; }
.servine { background-position: -1200px -450px; }
.serperior { background-position: -0px -480px; }
.tepig { background-position: -40px -480px; }
.pignite { background-position: -80px -480px; }
.emboar { background-position: -120px -480px; }
.oshawott { background-position: -160px -480px; }
.dewott { background-position: -200px -480px; }
.samurott { background-position: -240px -480px; }
.patrat { background-position: -280px -480px; }
.watchog { background-position: -320px -480px; }
.lillipup { background-position: -360px -480px; }
.herdier { background-position: -400px -480px; }
.stoutland { background-position: -440px -480px; }
.purrloin { background-position: -480px -480px; }
.liepard { background-position: -520px -480px; }
.pansage { background-position: -560px -480px; }
.simisage { background-position: -600px -480px; }
.pansear { background-position: -640px -480px; }
.simisear { background-position: -680px -480px; }
.panpour { background-position: -720px -480px; }
.simipour { background-position: -760px -480px; }
.munna { background-position: -800px -480px; }
.musharna { background-position: -840px -480px; }
.pidove { background-position: -880px -480px; }
.tranquill { background-position: -920px -480px; }
.unfezant { background-position: -960px -480px; }
.blitzle { background-position: -1000px -480px; }
.zebstrika { background-position: -1040px -480px; }
.roggenrola { background-position: -1080px -480px; }
.boldore { background-position: -1120px -480px; }
.gigalith { background-position: -1160px -480px; }
.woobat { background-position: -1200px -480px; }
.swoobat { background-position: -0px -510px; }
.drilbur { background-position: -40px -510px; }
.excadrill { background-position: -80px -510px; }
.audino { background-position: -120px -510px; }
.timburr { background-position: -160px -510px; }
.gurdurr { background-position: -200px -510px; }
.conkeldurr { background-position: -240px -510px; }
.tympole { background-position: -280px -510px; }
.palpitoad { background-position: -320px -510px; }
.seismitoad { background-position: -360px -510px; }
.throh { background-position: -400px -510px; }
.sawk { background-position: -440px -510px; }
.sewaddle { background-position: -480px -510px; }
.swadloon { background-position: -520px -510px; }
.leavanny { background-position: -560px -510px; }
.venipede { background-position: -600px -510px; }
.whirlipede { background-position: -640px -510px; }
.scolipede { background-position: -680px -510px; }
.cottonee { background-position: -720px -510px; }
.whimsicott { background-position: -760px -510px; }
.petilil { background-position: -800px -510px; }
.lilligant { background-position: -840px -510px; }
.basculin, .basculin-red-striped { background-position: -880px -510px; }
.sandile { background-position: -920px -510px; }
.krokorok { background-position: -960px -510px; }
.krookodile { background-position: -1000px -510px; }
.darumaka { background-position: -1040px -510px; }
.darmanitan, .darmanitan-standard { background-position: -1080px -510px; }
.maractus { background-position: -1120px -510px; }
.dwebble { background-position: -1160px -510px; }
.crustle { background-position: -1200px -510px; }
.scraggy { background-position: -0px -540px; }
.scrafty { background-position: -40px -540px; }
.sigilyph { background-position: -80px -540px; }
.yamask { background-position: -120px -540px; }
.cofagrigus { background-position: -160px -540px; }
.tirtouga { background-position: -200px -540px; }
.carracosta { background-position: -240px -540px; }
.archen { background-position: -280px -540px; }
.archeops { background-position: -320px -540px; }
.trubbish { background-position: -360px -540px; }
.garbodor { background-position: -400px -540px; }
.zorua { background-position: -440px -540px; }
.zoroark { background-position: -480px -540px; }
.minccino { background-position: -520px -540px; }
.cinccino { background-position: -560px -540px; }
.gothita { background-position: -600px -540px; }
.gothorita { background-position: -640px -540px; }
.gothitelle { background-position: -680px -540px; }
.solosis { background-position: -720px -540px; }
.duosion { background-position: -760px -540px; }
.reuniclus { background-position: -800px -540px; }
.ducklett { background-position: -840px -540px; }
.swanna { background-position: -880px -540px; }
.vanillite { background-position: -920px -540px; }
.vanillish { background-position: -960px -540px; }
.vanilluxe { background-position: -1000px -540px; }
.deerling, .deerling-spring { background-position: -1040px -540px; }
.sawsbuck, .sawsbuck-spring { background-position: -1080px -540px; }
.emolga { background-position: -1120px -540px; }
.karrablast { background-position: -1160px -540px; }
.escavalier { background-position: -1200px -540px; }
.foongus { background-position: -0px -570px; }
.amoonguss { background-position: -40px -570px; }
.frillish { background-position: -80px -570px; }
.jellicent { background-position: -120px -570px; }
.alomomola { background-position: -160px -570px; }
.joltik { background-position: -200px -570px; }
.galvantula { background-position: -240px -570px; }
.ferroseed { background-position: -280px -570px; }
.ferrothorn { background-position: -320px -570px; }
.klink { background-position: -360px -570px; }
.klang { background-position: -400px -570px; }
.klinklang { background-position: -440px -570px; }
.tynamo { background-position: -480px -570px; }
.eelektrik { background-position: -520px -570px; }
.eelektross { background-position: -560px -570px; }
.elgyem { background-position: -600px -570px; }
.beheeyem { background-position: -640px -570px; }
.litwick { background-position: -680px -570px; }
.lampent { background-position: -720px -570px; }
.chandelure { background-position: -760px -570px; }
.axew { background-position: -800px -570px; }
.fraxure { background-position: -840px -570px; }
.haxorus { background-position: -880px -570px; }
.cubchoo { background-position: -920px -570px; }
.beartic { background-position: -960px -570px; }
.cryogonal { background-position: -1000px -570px; }
.shelmet { background-position: -1040px -570px; }
.accelgor { background-position: -1080px -570px; }
.stunfisk { background-position: -1120px -570px; }
.mienfoo { background-position: -1160px -570px; }
.mienshao { background-position: -1200px -570px; }
.druddigon { background-position: -0px -600px; }
.golett { background-position: -40px -600px; }
.golurk { background-position: -80px -600px; }
.pawniard { background-position: -120px -600px; }
.bisharp { background-position: -160px -600px; }
.bouffalant { background-position: -200px -600px; }
.rufflet { background-position: -240px -600px; }
.braviary { background-position: -280px -600px; }
.vullaby { background-position: -320px -600px; }
.mandibuzz { background-position: -360px -600px; }
.heatmor { background-position: -400px -600px; }
.durant { background-position: -440px -600px; }
.deino { background-position: -480px -600px; }
.zweilous { background-position: -520px -600px; }
.hydreigon { background-position: -560px -600px; }
.larvesta { background-position: -600px -600px; }
.volcarona { background-position: -640px -600px; }
.cobalion { background-position: -680px -600px; }
.terrakion { background-position: -720px -600px; }
.virizion { background-position: -760px -600px; }
.tornadus, .tornadus-incarnate { background-position: -800px -600px; }
.thundurus, .thundurus-incarnate { background-position: -840px -600px; }
.reshiram { background-position: -880px -600px; }
.zekrom { background-position: -920px -600px; }
.landorus, .landorus-incarnate { background-position: -960px -600px; }
.kyurem { background-position: -1000px -600px; }
.keldeo, .keldeo-ordinary { background-position: -1040px -600px; }
.meloetta, .meloetta-aria { background-position: -1080px -600px; }
.genesect, .genesect-burn, .genesect-douse, .genesect-shock, .genesect-chill
    { background-position: -1120px -600px; }
.chespin { background-position: -1160px -600px; }
.quilladin { background-position: -1200px -600px; }
.chesnaught { background-position: -0px -630px; }
.fennekin { background-position: -40px -630px; }
.braixen { background-position: -80px -630px; }
.delphox { background-position: -120px -630px; }
.froakie { background-position: -160px -630px; }
.frogadier { background-position: -200px -630px; }
.greninja { background-position: -240px -630px; }
.bunnelby { background-position: -280px -630px; }
.diggersby { background-position: -320px -630px; }
.fletchling { background-position: -360px -630px; }
.fletchinder { background-position: -400px -630px; }
.talonflame { background-position: -440px -630px; }
.scatterbug { background-position: -480px -630px; }
.spewpa { background-position: -520px -630px; }
.vivillon, .vivillon-meadow { background-position: -560px -630px; }
.litleo { background-position: -600px -630px; }
.pyroar { background-position: -640px -630px; }
.flabebe, .flabebe-red { background-position: -680px -630px; }
.floette, .floette-red { background-position: -720px -630px; }
.florges, .florges-red { background-position: -760px -630px; }
.skiddo { background-position: -800px -630px; }
.gogoat { background-position: -840px -630px; }
.pancham { background-position: -880px -630px; }
.pangoro { background-position: -920px -630px; }
.furfrou, .furfrou-natural { background-position: -960px -630px; }
.espurr { background-position: -1000px -630px; }
.meowstic, .meowstic-female { background-position: -1040px -630px; }
.honedge { background-position: -1080px -630px; }
.doublade { background-position: -1120px -630px; }
.aegislash, .aegislash-shield { background-position: -1160px -630px; }
.spritzee { background-position: -1200px -630px; }
.aromatisse { background-position: -0px -660px; }
.swirlix { background-position: -40px -660px; }
.slurpuff { background-position: -80px -660px; }
.inkay { background-position: -120px -660px; }
.malamar { background-position: -160px -660px; }
.binacle { background-position: -200px -660px; }
.barbaracle { background-position: -240px -660px; }
.skrelp { background-position: -280px -660px; }
.dragalge { background-position: -320px -660px; }
.clauncher { background-position: -360px -660px; }
.clawitzer { background-position: -400px -660px; }
.helioptile { background-position: -440px -660px; }
.heliolisk { background-position: -480px -660px; }
.tyrunt { background-position: -520px -660px; }
.tyrantrum { background-position: -560px -660px; }
.amaura { background-position: -600px -660px; }
.aurorus { background-position: -640px -660px; }
.sylveon { background-position: -680px -660px; }
.hawlucha { background-position: -720px -660px; }
.dedenne { background-position: -760px -660px; }
.carbink { background-position: -800px -660px; }
.goomy { background-position: -840px -660px; }
.sliggoo { background-position: -880px -660px; }
.goodra { background-position: -920px -660px; }
.klefki { background-position: -960px -660px; }
.phantump { background-position: -1000px -660px; }
.trevenant { background-position: -1040px -660px; }
.pumpkaboo, .pumpkaboo-small, .pumpkaboo-average, .pumpkaboo-large,
    .pumpkaboo-super { background-position: -1080px -660px; }
.gourgeist, .gourgeist-small, .gourgeist-average, .gourgeist-large,
    .gourgeist-super { background-position: -1120px -660px; }
.bergmite { background-position: -1160px -660px; }
.avalugg { background-position: -1200px -660px; }
.noibat { background-position: -0px -690px; }
.noivern { background-position: -40px -690px; }
.xerneas, .xerneas-active { background-position: -80px -690px; }
.yveltal { background-position: -120px -690px; }
.zygarde, .zygarde-50-percent { background-position: -160px -690px; }
.diancie { background-position: -200px -690px; }
.hoopa, .hoopa-confined { background-position: -240px -690px; }
.volcanion { background-position: -280px -690px; }
.unown-b { background-position: -320px -690px; }
.unown-c { background-position: -360px -690px; }
.unown-d { background-position: -400px -690px; }
.unown-e { background-position: -440px -690px; }
.unown-f { background-position: -480px -690px; }
.unown-g { background-position: -520px -690px; }
.unown-h { background-position: -560px -690px; }
.unown-i { background-position: -600px -690px; }
.unown-j { background-position: -640px -690px; }
.unown-k { background-position: -680px -690px; }
.unown-l { background-position: -720px -690px; }
.unown-m { background-position: -760px -690px; }
.unown-n { background-position: -800px -690px; }
.unown-o { background-position: -840px -690px; }
.unown-p { background-position: -880px -690px; }
.unown-q { background-position: -920px -690px; }
.unown-r { background-position: -960px -690px; }
.unown-s { background-position: -1000px -690px; }
.unown-t { background-position: -1040px -690px; }
.unown-u { background-position: -1080px -690px; }
.unown-v { background-position: -1120px -690px; }
.unown-w { background-position: -1160px -690px; }
.unown-x { background-position: -1200px -690px; }
.unown-y { background-position: -0px -720px; }
.unown-z { background-position: -40px -720px; }
.unown-exclamation { background-position: -80px -720px; }
.unown-question { background-position: -120px -720px; }
.castform-sunny { background-position: -160px -720px; }
.castform-rainy { background-position: -200px -720px; }
.castform-snowy { background-position: -240px -720px; }
.deoxys-attack { background-position: -280px -720px; }
.deoxys-defense { background-position: -320px -720px; }
.deoxys-speed { background-position: -360px -720px; }
.burmy-sandy { background-position: -400px -720px; }
.burmy-trash { background-position: -440px -720px; }
.wormadam-sandy { background-position: -480px -720px; }
.wormadam-trash { background-position: -520px -720px; }
.cherrim-sunshine { background-position: -560px -720px; }
.shellos-east { background-position: -600px -720px; }
.gastrodon-east { background-position: -640px -720px; }
.rotom-heat { background-position: -680px -720px; }
.rotom-wash { background-position: -720px -720px; }
.rotom-frost { background-position: -760px -720px; }
.rotom-fan { background-position: -800px -720px; }
.rotom-mow { background-position: -840px -720px; }
.giratina-origin { background-position: -880px -720px; }
.shaymin-sky { background-position: -920px -720px; }
.basculin-blue-striped { background-position: -960px -720px; }
.darmanitan-zen { background-position: -1000px -720px; }
.deerling-summer { background-position: -1040px -720px; }
.deerling-autumn { background-position: -1080px -720px; }
.deerling-winter { background-position: -1120px -720px; }
.sawsbuck-summer { background-position: -1160px -720px; }
.sawsbuck-autumn { background-position: -1200px -720px; }
.sawsbuck-winter { background-position: -0px -750px; }
.tornadus-therian { background-position: -40px -750px; }
.thundurus-therian { background-position: -80px -750px; }
.landorus-therian { background-position: -120px -750px; }
.kyurem-black { background-position: -160px -750px; }
.kyurem-white { background-position: -200px -750px; }
.keldeo-resolute { background-position: -240px -750px; }
.meloetta-pirouette { background-position: -280px -750px; }
.vivillon-icy-snow { background-position: -320px -750px; }
.vivillon-polar { background-position: -360px -750px; }
.vivillon-tundra { background-position: -400px -750px; }
.vivillon-continental { background-position: -440px -750px; }
.vivillon-garden { background-position: -480px -750px; }
.vivillon-elegant { background-position: -520px -750px; }
.vivillon-modern { background-position: -560px -750px; }
.vivillon-marine { background-position: -600px -750px; }
.vivillon-archipelago { background-position: -640px -750px; }
.vivillon-high-plains { background-position: -680px -750px; }
.vivillon-sandstorm { background-position: -720px -750px; }
.vivillon-river { background-position: -760px -750px; }
.vivillon-monsoon { background-position: -800px -750px; }
.vivillon-savanna { background-position: -840px -750px; }
.vivillon-sun { background-position: -880px -750px; }
.vivillon-ocean { background-position: -920px -750px; }
.vivillon-jungle { background-position: -960px -750px; }
.flabebe-yellow { background-position: -1000px -750px; }
.flabebe-orange { background-position: -1040px -750px; }
.flabebe-blue { background-position: -1080px -750px; }
.flabebe-white { background-position: -1120px -750px; }
.floette-yellow { background-position: -1160px -750px; }
.floette-orange { background-position: -1200px -750px; }
.floette-blue { background-position: -0px -780px; }
.floette-white { background-position: -40px -780px; }
.florges-yellow { background-position: -80px -780px; }
.florges-orange { background-position: -120px -780px; }
.florges-blue { background-position: -160px -780px; }
.florges-white { background-position: -200px -780px; }
.furfrou-heart { background-position: -240px -780px; }
.furfrou-star { background-position: -280px -780px; }
.furfrou-diamond { background-position: -320px -780px; }
.furfrou-la-reine { background-position: -360px -780px; }
.furfrou-kabuki { background-position: -400px -780px; }
.furfrou-pharaoh { background-position: -440px -780px; }
.furfrou-debutante { background-position: -480px -780px; }
.furfrou-matron { background-position: -520px -780px; }
.furfrou-dandy { background-position: -560px -780px; }
.meowstic-male, .meowstic.male { background-position: -600px -780px; }
.aegislash-blade { background-position: -640px -780px; }
.xerneas-neutral { background-position: -680px -780px; }
.venusaur-mega { background-position: -720px -780px; }
.charizard-mega-x { background-position: -760px -780px; }
.charizard-mega-y { background-position: -800px -780px; }
.blastoise-mega { background-position: -840px -780px; }
.alakazam-mega { background-position: -880px -780px; }
.gengar-mega { background-position: -920px -780px; }
.kangaskhan-mega { background-position: -960px -780px; }
.pinsir-mega { background-position: -1000px -780px; }
.gyarados-mega { background-position: -1040px -780px; }
.aerodactyl-mega { background-position: -1080px -780px; }
.mewtwo-mega-x { background-position: -1120px -780px; }
.mewtwo-mega-y { background-position: -1160px -780px; }
.ampharos-mega { background-position: -1200px -780px; }
.scizor-mega { background-position: -0px -810px; }
.heracross-mega { background-position: -40px -810px; }
.houndoom-mega { background-position: -80px -810px; }
.tyranitar-mega { background-position: -120px -810px; }
.blaziken-mega { background-position: -160px -810px; }
.gardevoir-mega { background-position: -200px -810px; }
.mawile-mega { background-position: -240px -810px; }
.aggron-mega { background-position: -280px -810px; }
.medicham-mega { background-position: -320px -810px; }
.manectric-mega { background-position: -360px -810px; }
.banette-mega { background-position: -400px -810px; }
.absol-mega { background-position: -440px -810px; }
.garchomp-mega { background-position: -480px -810px; }
.lucario-mega { background-position: -520px -810px; }
.abomasnow-mega { background-position: -560px -810px; }
.vivillon-fancy { background-position: -600px -810px; }
.vivillon-poke-ball { background-position: -640px -810px; }
.latias-mega { background-position: -680px -810px; }
.latios-mega { background-position: -720px -810px; }
.kyogre-primal { background-position: -760px -810px; }
.groudon-primal { background-position: -800px -810px; }
.beedrill-mega { background-position: -840px -810px; }
.pidgeot-mega { background-position: -880px -810px; }
.slowbro-mega { background-position: -920px -810px; }
.steelix-mega { background-position: -960px -810px; }
.sceptile-mega { background-position: -1000px -810px; }
.swampert-mega { background-position: -1040px -810px; }
.sableye-mega { background-position: -1080px -810px; }
.sharpedo-mega { background-position: -1120px -810px; }
.camerupt-mega { background-position: -1160px -810px; }
.altaria-mega { background-position: -1200px -810px; }
.glalie-mega { background-position: -0px -840px; }
.salamence-mega { background-position: -40px -840px; }
.metagross-mega { background-position: -80px -840px; }
.rayquaza-mega { background-position: -120px -840px; }
.lopunny-mega { background-position: -160px -840px; }
.gallade-mega { background-position: -200px -840px; }
.audino-mega { background-position: -240px -840px; }
.diancie-mega { background-position: -280px -840px; }
.hoopa-unbound { background-position: -320px -840px; }
.unfezant.male { background-position: -360px -840px; }
.frillish.male { background-position: -400px -840px; }
.jellicent.male { background-position: -440px -840px; }
.pyroar.male { background-position: -480px -840px; }
.rowlet { background-position: -0px -870px; }
.dartrix { background-position: -40px -870px; }
.decidueye { background-position: -80px -870px; }
.litten { background-position: -120px -870px; }
.torracat { background-position: -160px -870px; }
.incineroar { background-position: -200px -870px; }
.popplio { background-position: -240px -870px; }
.brionne { background-position: -280px -870px; }
.primarina { background-position: -320px -870px; }
.pikipek { background-position: -360px -870px; }
.trumbeak { background-position: -400px -870px; }
.toucannon { background-position: -440px -870px; }
.yungoos { background-position: -480px -870px; }
.gumshoos { background-position: -520px -870px; }
.grubbin { background-position: -560px -870px; }
.charjabug { background-position: -600px -870px; }
.vikavolt { background-position: -640px -870px; }
.crabrawler { background-position: -680px -870px; }
.crabominable { background-position: -720px -870px; }
.oricorio, .oricorio-baile { background-position: -760px -870px; }
.cutiefly { background-position: -800px -870px; }
.ribombee { background-position: -840px -870px; }
.rockruff { background-position: -880px -870px; }
.lycanroc, .lycanroc-midday { background-position: -920px -870px; }
.wishiwashi, .wishiwashi-solo { background-position: -960px -870px; }
.mareanie { background-position: -1000px -870px; }
.toxapex { background-position: -1040px -870px; }
.mudbray { background-position: -1080px -870px; }
.mudsdale { background-position: -1120px -870px; }
.dewpider { background-position: -1160px -870px; }
.araquanid { background-position: -1200px -870px; }
.fomantis { background-position: -0px -900px; }
.lurantis { background-position: -40px -900px; }
.morelull { background-position: -80px -900px; }
.shiinotic { background-position: -120px -900px; }
.salandit { background-position: -160px -900px; }
.salazzle { background-position: -200px -900px; }
.stufful { background-position: -240px -900px; }
.bewear { background-position: -280px -900px; }
.bounsweet { background-position: -320px -900px; }
.steenee { background-position: -360px -900px; }
.tsareena { background-position: -400px -900px; }
.comfey { background-position: -440px -900px; }
.oranguru { background-position: -480px -900px; }
.passimian { background-position: -520px -900px; }
.wimpod { background-position: -560px -900px; }
.golisopod { background-position: -600px -900px; }
.sandygast { background-position: -640px -900px; }
.palossand { background-position: -680px -900px; }
.pyukumuku { background-position: -720px -900px; }
.type-null { background-position: -760px -900px; }
.silvally, .silvally-normal, .silvally-fire, .silvally-water, .silvally-grass,
    .silvally-electric, .silvally-ice, .silvally-fighting, .silvally-poison,
    .silvally-ground, .silvally-flying, .silvally-psychic, .silvally-bug,
    .silvally-rock, .silvally-ghost, .silvally-dragon, .silvally-dark,
    .silvally-steel, .silvally-fairy
    { background-position: -800px -900px; }
.minior, .minior-meteor { background-position: -840px -900px; }
.komala { background-position: -880px -900px; }
.turtonator { background-position: -920px -900px; }
.togedemaru { background-position: -960px -900px; }
.mimikyu, .mimikyu-disguised, .mimikyu-busted
    { background-position: -1000px -900px; }
.bruxish { background-position: -1040px -900px; }
.drampa { background-position: -1080px -900px; }
.dhelmise { background-position: -1120px -900px; }
.jangmo-o { background-position: -1160px -900px; }
.hakamo-o { background-position: -1200px -900px; }
.kommo-o { background-position: -0px -930px; }
.tapu-koko { background-position: -40px -930px; }
.tapu-lele { background-position: -80px -930px; }
.tapu-bulu { background-position: -120px -930px; }
.tapu-fini { background-position: -160px -930px; }
.cosmog { background-position: -200px -930px; }
.cosmoem { background-position: -240px -930px; }
.solgaleo { background-position: -280px -930px; }
.lunala { background-position: -320px -930px; }
.nihilego { background-position: -360px -930px; }
.buzzwole { background-position: -400px -930px; }
.pheromosa { background-position: -440px -930px; }
.xurkitree { background-position: -480px -930px; }
.celesteela { background-position: -520px -930px; }
.kartana { background-position: -560px -930px; }
.guzzlord { background-position: -600px -930px; }
.necrozma { background-position: -640px -930px; }
.magearna { background-position: -680px -930px; }
.marshadow { background-position: -720px -930px; }
.poipole { background-position: -1000px -960px; }
.naganadel { background-position: -1040px -960px; }
.stakataka { background-position: -1080px -960px; }
.blacephalon { background-position: -1120px -960px; }
.zeraora { background-position: -1160px -960px; }
.oricorio-pom-pom { background-position: -760px -930px; }
.oricorio-pau { background-position: -800px -930px; }
.oricorio-sensu { background-position: -840px -930px; }
.lycanroc-midnight { background-position: -880px -930px; }
.wishiwashi-school { background-position: -920px -930px; }
.minior-red { background-position: -960px -930px; }
.minior-orange { background-position: -1000px -930px; }
.minior-yellow { background-position: -1040px -930px; }
.minior-green { background-position: -1080px -930px; }
.minior-blue { background-position: -1120px -930px; }
.minior-indigo { background-position: -1160px -930px; }
.minior-violet { background-position: -1200px -930px; }
.magearna-original { background-position: -0px -960px; }
.rattata-alola { background-position: -40px -960px; }
.raticate-alola { background-position: -80px -960px; }
.raichu-alola { background-position: -120px -960px; }
.sandshrew-alola { background-position: -160px -960px; }
.sandslash-alola { background-position: -200px -960px; }
.vulpix-alola { background-position: -240px -960px; }
.ninetales-alola { background-position: -280px -960px; }
.diglett-alola { background-position: -320px -960px; }
.dugtrio-alola { background-position: -360px -960px; }
.meowth-alola { background-position: -400px -960px; }
.persian-alola { background-position: -440px -960px; }
.geodude-alola { background-position: -480px -960px; }
.graveler-alola { background-position: -520px -960px; }
.golem-alola { background-position: -560px -960px; }
.grimer-alola { background-position: -600px -960px; }
.muk-alola { background-position: -640px -960px; }
.exeggutor-alola { background-position: -680px -960px; }
.marowak-alola { background-position: -720px -960px; }
.zygarde-10-percent { background-position: -760px -960px; }
.zygarde-complete { background-position: -800px -960px; }
.lycanroc-dusk { background-position: -840px -960px; }
.necrozma-dusk-mane { background-position: -880px -960px; }
.necrozma-dawn-wings { background-position: -920px -960px; }
.necrozma-ultra { background-position: -960px -960px; }
